{%extends "base.html"%}
{%block header%}
 <title>用户</title>
{%endblock%}
{%block content1%}
<div >
 <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">user</li>
 </ol>
</div>
<div>
  <div class="btn-group user_manager_add pull-right clearfix" style="margin-right: 20px;">
    <button  type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-open-file"></span> 导出用户</button>
    <button  type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-save-file"></span> 导入用户</button>
    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#user_add"><span class="glyphicon glyphicon-plus"></span> 添加用户</button>
  </div>
  <div style="margin-right: 20px;" >
    <table class="table  table-bordered ">
      <tbody>
        <tr style="height:20px;">
	<td class="text-center bg-success" style="width:30px;">
	<a href="#" id="department_refresh" style="width:50px;line-height: 30px;">
	<span class="glyphicon glyphicon-refresh"></span>
	</a>
	</td>
	<td class="text-center bg-success" style="width:100px;line-height: 30px;">用户名</td>
	<td class="bg-success">
	<form style="display: inline-block;" class="pull-left input-group-sm">
	<input type="text" name="suosou" placeholder="搜索用户..." class="form-control" style="height: 30px;">
	</form>
        </td>
	<td class="text-center bg-success" style="width: 100px;line-height: 30px;">角色</td>
	<td class="text-center bg-success" style="width: 50px;line-height: 30px;">状态</td>
	<td class="text-center bg-success" style="width:150px;line-height: 30px;">操作</td>
       </tr>
{% for user in users %}
  <tr data_row_id="{{forloop.counter}}">
   <td data_cell_id="{{forloop}}-0">
   {%if user.role_id_id == 1 %}
    <span></span>
   {%else%}
   <input type="checkbox" data_check_box="{{user.id}}">
   {%endif%}
   </td>
   <td class="text-primary" data_cell_id="{{forloop}}-1" >{{user.username}}</td>
   <td class="text-primary" data_cell_id="{{forloop}}-2">{{user.desc}}</td>
   <td class="text-warning text-center" data_cell_id="{{forloop}}-3">
   {%if user.role_id_id == 1%}
    <span class="label label-default">系统管理员</span>
   {%elif user.role_id_id == 2%}
   <span class="label label-default">管理员</span>
   {%elif user.role_id_id == 3%}
   <span class="label label-default">用户</span>
   {%endif%}
   </td>
   <td data_cell_id="{{forloop}}-4">
    {%if user.stat%}
    <span class="label label-success" >正常</span>
    {%else%}
    <span class="label label-danger" >禁用</span>
    {%endif%}
   </td>
   <td class="text-center" data_cell_id="{{forloop}}-5">
   {%if user.role_id_id == 1 %}
   <span></span>
   {%else%}
     <div class="btn-group dropup">
      <button  type="button" class="btn-xs btn btn-warning dropdown-toggle" data-toggle='dropdown' data_check_box="{{user.id}}">操作 <span class="caret"></span>
      </button>
       <ul class="dropdown-menu">
       <li><a href="#"><span class="glyphicon glyphicon-edit" data_action='edit'></span> 编辑</a></li>
       <li><a href="#"><span class="glyphicon glyphicon-repeat" data_action='reset-pwd'></span> 重置密码</a></li>
       <li><a href="#"><span class="glyphicon glyphicon-lock" data_action='lock'></span> 锁定</a></li>
       <li class='disabled'><a href="#"><span class="glyphicon glyphicon-briefcase" data_action='unlock'></span> 解锁</a></li>
      </ul>
     </div>
   {%endif%}
   </td>
  </tr>
{% endfor %}
</tbody>
</table>
<form>
 <div class="input-group">
 <button type="button" class="btn btn-xs btn-defualt">全选</button>
 <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> 删除</button>
 </div>
</form>
<ul class="pager">
<li class="disabled"><a href="#">上一页</a></li>
<li><a href="#">当前</a></li>
<li ><a href="#">下一页 </a></li>
</ul>	 	

<div class="modal fade" id="user_add">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5 class="modal-title" id="department_addlable"><span class="label label-primary"> 添加用户账号</span></h5>
</div>
<div class="modal-body">
<div >
 <label><span class="glyphicon glyphicon-star-empty"></span> 角色:</label>
 <div class="dropdown" style="display: inline-block;">
 <button type="button" class="btn btn-xs dropdown-toggle" data-toggle='dropdown'>选择角色 
<span class="caret"></span>
 </button>
 <ul class="dropdown-menu">
	<li><a href="javascript:;" data_selector='1'>
	<span class="glyphicon glyphicon-user"></span> 系统管理员
	</a>
	</li>
	<li><a href="javascript:;" data_selector='2'>
	<span class="glyphicon glyphicon-user"></span> 部门管理员
	</a>
	</li>
	<li><a href="javascript:;" data_selector='3'>
	<span class="glyphicon glyphicon-user"></span> 用户
	</a>
	</li>							
	 </ul>
	</div>
	</div>
	<div class="form-group form-group-sm" >
	<label  ><span class="glyphicon glyphicon-star-empty"></span> 账号:</label>
	<input type="text" name="username"  placeholder="用户账号,用户登录名">
	<span >英文字符和数字,最大6个字符</span>
	</div>
	<div class="form-group form-group-sm" >
	<label  >&nbsp;&nbsp;&nbsp; 姓名:</label>
	<input type="text" name="username"  placeholder="用户真实姓名">
	</div>
	<div class="form-group form-group-sm" >
	<label  ><span class="glyphicon glyphicon-star-empty"></span> 密码:</label>
	<input type="password" name="pwd1">
	</div>
	<div class="form-group form-group-sm" >
	<label  ><span class="glyphicon glyphicon-repeat"></span> 重复:</label>
	<input type="password" name="pwd2">
	</div>
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-info" data-dismiss="modal">返回</button>
	<input type="submit"  class="btn btn-primary" name="department_tj" value="提交">
   </div>
  </div>
 </div>
</div>

{%endblock%}
