{%extends "base.html"%}

{%block header%}
<title>部门</title>
{%endblock%}
{%block content1%}
<div >
<ol class="breadcrumb">
<li><a href="/">Home</a></li>
<li class="active">Department</li>
</ol>
</div>

<div>
  <div class="btn-group user_manager_add pull-right clearfix" style="margin-right: 20px;">
  <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#department_add"><span class="glyphicon glyphicon-plus"></span> 添加部门</button>
  </div>
  <div style="margin-right: 20px;" >
  <table class="table table-bordered">
  <tbody id='department_list'>
   <tr>
    <td class="text-center bg-success" style="width:30px;">
     <a href="#" id="department_refresh" style="width:50px;line-height: 30px;">
     <span class="glyphicon glyphicon-refresh"></span>
     </a>
    </td>
    <td class="bg-success" style="width:300px;">
     <span style="line-height: 30px;">部门 </span>
     <input type="text" name="search" class="form-control pull-right input-sm " placeholder="搜索部门..." style="width: 250px;" >
    </td>
    <td class="bg-success text-center" style="line-height: 30px">成员</td>
    <td class="bg-success text-center" style="width:30px;line-height: 30px;">状态</td>
    <td class="bg-success text-center" style="width: 150px;line-height: 30px;">操作</td>
   </tr>
{%for group in data%}
	<tr data_row_id="{{forloop.counter}}">
	<td data_cell_id="{{forloop.counter}}-0">
	<input type="checkbox" name="userhook" class='userhook' data_check_box="{{group.id}}">
	</td>
	<td class="text-primary " data_cell_id="{{forloop.counter}}-1">{{group.groupname}}</td>
	<td class="text-primary" data_cell_id="{{forloop.counter}}-2">
	 <span class="label label-default">{{group.desc}}</span>
	</td>
	<td class="text-success" data_cell_id="{{forloop.counter}}-3">
          {%if group.state%}
	  <span class="label label-success">正常</span> 
          {%else%}
	  <span class="label label-danger">禁用</span> 
          {%endif%}
    </td>
	<td class="text-danger" data_cell_id="{{forloop.counter}}-4">
	<div class="btn-group ">
	<button  type="button" class="btn-xs btn btn-info " data_btn_edit='11'>
	<span class="glyphicon glyphicon-edit"></span> 编辑</button>
	<button type="button" class="btn btn-xs btn-danger" data_btn_del='11'>
	<span class="glyphicon glyphicon-trash"></span>删除
	</button>
	</div>
	</tr>
{%endfor%}

</tbody>
</table>

<div class="input-group ">
<button type="button" class="btn btn-xs btn-defualt">全选</button>
<button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-lock"></span> 禁用</button>
</div> 	

<div class="modal fade" id="department_add">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h5 class="modal-title" id="department_addlable"><label class="bg-success text-danger"> 添加部门</label></h5>
</div>
<div class="modal-body">
   <form>
    <p><span class="glyphicon glyphicon-exclamation-sign text-primary"></span> 英文字母最多20个，汉字最多6个</p>
    <div class="input-group">
    <span class="input-group-addon ">部门: </span>
    <input type="text" name="department" class="form-control " style="width: 300px;"  placeholder="请输入部门名称">
  </div>
  <div class="input-group">
    <span class="input-group-addon">描述: </span>
    <input type="text" name="department_desc" class="form-control" placeholder="请输入简要描述信息...">
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" data-dismiss="modal">返回</button>
  <input type="submit"  class="btn btn-primary" name="department_tj" value="提交">
</div>
</div>
</div>
</div>
{%endblock%}
