<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
        {%block header%}
	<title>控制面板</title>
        {%endblock%}
</head>
<body>
<div class="menu_body" style='height:100%;'>
	<div class="log_ico">
	<img src="/static/img/log.png" class="img-rounded">
	</div>
	<div class="user_info">
		<div class="user_ico">
		<a href="#"><img src="/static/img/user.png" class="img-circle"></a>
		</div>
		<div class="user_proper">
		<a href="#"><span class="glyphicon glyphicon-user"></span> : pengkangqian</a>
		</div>
	</div>
	<div class="menu_list ">
		<ul class="nav nav-tabs nav-stacked text-center">
			<li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> 概览 </a> </li>
			<li><a href="/browse"><span class="glyphicon glyphicon-globe"></span> 文件浏览</a></li>
			<li><a href="/consumer"><span class="glyphicon glyphicon-user"></span> 用户</a></li>
			<li><a href="/department"><span class="glyphicon glyphicon-magnet"></span> 部门</a></li>
			<li><a href="/deploy"><span class="glyphicon glyphicon-cog"></span> 设置</a></li>
			<li><a href="/guider"><span class="glyphicon glyphicon-wrench"></span> 设置向导</a></li>
		</ul>
	</div>
</div>
<div class="content_body clearfix">
{% block content1 %}
	<div >
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">dashboard</li>
		</ol>
	</div>
{% endblock %}
</div>
</body>
</html>
